name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  pull-requests: write

jobs:
  checks:
    name: Run Checks
    uses: ./.github/workflows/ci.yml

  release:
    name: Create Release
    needs: checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Extract tag
        id: extract_tag
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "Tag: $TAG"

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: git-cliff,typos-cli

      - name: Generate changelog and release notes
        run: |
          ./scripts/generate-changelog.sh
          ./scripts/generate-release-notes.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version
        run: ./scripts/bump-version.sh ${{ steps.extract_tag.outputs.tag }}

      - name: Commit and push changes
        run: ./scripts/commit.sh ${{ steps.extract_tag.outputs.tag }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: RELEASE_NOTES.md
          draft: false
          prerelease: false
